.sub-header {
    background-color: #fa8633;
    /*height: 231px;*/
    color: white;
    font-size: 120%;
    margin-bottom: 40px;
}

    .sub-header div {
        margin: 0 auto;
        width: 75%;
    }

    .sub-header .aande {
        background-color: white;
        color: #fa8633;
        width: 60px;
        height: 60px;
        border-radius: 80px;
        padding: 20px;
        font-size: 108px;
        line-height: 62px;
        font-weight: bolder;
        margin: 65px 30px 65px 0;
        float: left;
    }

    .sub-header h2 {
        padding-top: 70px;
    }

    .sub-header p {
        font-size: 120%;
        padding-bottom: 70px;
    }

.button.find-address {
    background-color: #707070;
    padding-right: 5rem;
    background-image: url("/content/images/icons/icon-button-next.svg");
    background-repeat: no-repeat;
    background-position: 85% 60%;
}

    .button.find-address:link, .button.find-address:hover, .button.find-address:focus, .button.find-address:visited {
        background-color: #333333;
    }

.inline-details {
    overflow: auto;
    display: block;
    padding: 0.5rem 0 2rem 0;
}

    .inline-details input {
        float: left;
        margin-right: 2rem;
    }

.button-link {
    border: none;
    padding: 0 !important;
    padding-right: 20px !important;
    cursor: pointer;
    color: #79AFDD;
    background-color: white !important;
    background-image: url("/content/images/icons/icon-link-go.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

    .button-link:link, .button-link:hover, .button-link:focus, .button-link:visited {
        color: #79AFDD;
        outline: none;
    }

    .button-link:hover, .button-link:focus {
        text-decoration: underline !important;
    }
