
.care-advice {
   background-color: #fff;
    padding: 10px;
}

.care-advice-keywords {
    height: 100%;
    width: 100%;
    display: block;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.care-advice .care-advice-keywords ol {
    padding: 20px;
    list-style-type: decimal;
}

.care-advice  ul  {
    padding: 20px; 
    list-style-type:disc;
}


.care-advice  ul li ul  {
    padding-top: 0.75rem;
    padding-bottom: 0;
    list-style-type:circle;
}

 @media (min-width: 641px) {
    .care-advice .care-advice-keywords ol {
        position: relative;
    }
    .care-advice .care-advice-keywords ol li {
          text-align: left;
    width: 48%;
    float: left;
    margin-bottom: -1px;
    }

 }


.care-advice .care-advice-keywords ol li:first-child {
    margin-left: 0;
}
.care-advice h3, .care-advice-section-header {
    font-size: 1.8em;
}


.care-advice h4 {
    font-size: 1.5em;
}

.service-booking-message {
    background-color: #fffabf;
    padding: 10px 20px;
    border-left: 4px solid #FFCF47;
    margin: 1rem 0 2rem 0.8rem;
    line-height: 3rem;
}

.service-booking-message.alert {
    background-color: #F5E5E6;
    border: 1px solid #982426;
    border-left: 4px solid #982426;
    margin-left: 0;
}