#phase-banner {
    padding-top: 25px;
}
#phase-banner .phase-container {
    max-width: 75%;
    margin: 0 15px;
    padding: 0;
}
#content #phase-banner .phase-container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

#content #phase-banner {
    margin-bottom: 25px;
    padding: 0;
}

@media (min-width: 641px) {
    #phase-banner .phase-container {
        margin: 0 auto;
        padding: 0 30px;
    }
}
@media (min-width: 641px) {
    .phase-banner {
        padding-bottom: 10px;
    }
}
.phase-banner {
    padding: 10px 0 8px 0;
    border-bottom: 1px solid #bfc1c3;
}
.phase-banner--inner {
    padding: 20px;
    color: #fff;
    background-color: #E31D1A;
}
.phase-banner--inner a {
    color: #fff;
}
.phase-container p {
    margin-bottom: 0;
}

