.button-link {
    border: none;
    padding: 0 !important;
    padding-right: 20px !important;
    cursor: pointer;
    color: #79AFDD;
    background-color: white !important;
    background-image: url("/content/images/icons/icon-link-go.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.button-link:link, .button-link:hover, .button-link:focus, .button-link:visited {
    color: #79AFDD;
    outline: none;
}

.button-link:hover, .button-link:focus {
    text-decoration: underline !important;
}
.surgery-item {
    border-bottom: 2px solid #0072C6;
    margin-bottom: 20px;
}