
.radio-slider {
    width:100%
}
.radio-slider label {
    display:inline-block;
    border: solid black 1px;
    border-right: none;
    height: 40px;
    width: 9%;
    margin-right: -5px;
}

.radio-slider > label:last-child {
    border-right:solid black 1px;
    border-radius: 0 25px 25px 0;
}

.radio-slider > label:first-of-type{
    border-radius: 25px 0 0 25px;
}


.radio-slider label span {
    margin-top: 52px;
    position: absolute;
    display: none;
}
.radio-symptom-severity  label:last-child span,
.radio-symptom-severity  label:first-of-type span
{
    display: inline;
    margin-top: 52px;
    position: absolute;
    text-align: center;
}


.radio-slider label
{
    background-color:#00f;
}

.radio-init label.hover{
    background-color: #ffffff;
}

.radio-init:hover label{
    background-color: #00f;
}


.radio-slider > input[type="radio"]:hover +label ~ input[type="radio"] + label.hover,
 input[type="radio"]:checked ~ input[type="radio"] + label{
    background-color: #ffffff;
}


.reasoning {
    margin-top: 52px;
}

#sliderContent h2 {
    padding-bottom: 10px;
}

