@model IEnumerable<NHS111.Models.Models.Web.FeedbackViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Title {
    NHS 111 Online - View Feedback
}

<h1>NHS 111 Online Feedback</h1>

<div class="table-responsive">
    <table class="table table-hover" id="feedback-list">
        @Html.Partial("_FeedbackList", Model.ToList())
    </table>
</div>