<div class="card">
  <h3>Leeds, West Yorkshire (Unplanned Booking Service)</h3>
  <p>The Avenue<br>Alwoodley<br>Leeds, LS17 7NZ</p>
  <p class="card__details">Open today: 08:00 - 20:00</p>
  <hr>
  <p>You don’t need to call this service</p>
  {% render '@button', { label: 'Get directions', mods: ['link'] } %}
</div>
