<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
    <appSettings file="C:\Configurations\nhs111-shared-resources\shared.debug.config">
        <add key="DomainDOSApiBaseUrl" value="http://localhost:9002/" />
        <add key="DomainDOSApiCheckCapacitySummaryUrl" value="DOSapi/CheckCapacitySummary" />
        <add key="DomainDOSApiServiceDetailsByIdUrl" value="DOSapi/ServiceDetailsById" />
        <add key="DomainDOSApiServicesByClinicalTermUrl" value="DOSapi/ServicesByClinicalTerm" />
        <add key="dos_credential_user" value="user" />
        <add key="dos_credential_password" value="pass" />
    </appSettings>
</configuration>
