<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MessageEngineServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MessageEngineServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://servicebus.nhsdirect.nhs.uk/LIVE/MessageEngine/V1.5/"
                binding="basicHttpBinding" bindingConfiguration="MessageEngineServiceSoapBinding"
                contract="ITKMessageEngineService.MessageEngine" name="MessageEnginePort" />
        </client>
    </system.serviceModel>
</configuration>