<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <appSettings file="L:\Work\Development\nhs111-shared-resources\shared.debug.config">
        <add key="DOSIntegrationBaseUrl" value="http://localhost:9003/"/>
        <add key="DOSIntegrationCheckCapacitySummaryUrl" value="IntegrationDOSapi/CheckCapacitySummary"/>
        <add key="DOSIntegrationServiceDetailsByIdUrl" value="IntegrationDOSapi/ServiceDetailsById"/>
        <add key="dos_credential_user" value="user" />
        <add key="dos_credential_password" value="pass" />
    </appSettings>
</configuration>