
    <div class="row sectionHead">
    <p class="title">Current location</p>
</div>

<div id="SectionBlock" class="row bgColor">
    <div class="row">
        <label class="left radio firstChild">
            <input type="radio" name="athome" class="yesAtHome" id="AtHome">
            I am at home
        </label>
    </div>

    <div class="row">
        <label class="left radio">
            <input type="radio" name="athome" value="No" class="notAtHome" id="NotAtHome">
            I am at another address
        </label>
    </div>
</div>