<div class="global-cookies-banner notification-banner notification-banner__hidden" id="global-cookies-banner" role="alert">
    <div class="notification-banner--inner">
        <div class="grid-row">
            <div class="column--two-thirds">
                <p>
                    We've placed cookies on your device to help make this website better.<br>
                    You can @Html.ActionLink("change your cookie settings.", "Cookies", "Help", null, new { target = "_blank", @id = "cookie-link" })
                </p>
            </div>
            <div class="column--one-third">
                <button type="button" class="button--secondary button--compact" id="dismiss-banner">I understand</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        var seenCookieMessage = $.cookie("nhs111_seen_cookie_message");
        if (!seenCookieMessage) $('#global-cookies-banner').css({ display: "block" });
        $('#cookie-link').click(function() {
            dismissCookieBanner();
        });
        $('#dismiss-banner').click(function() {
            dismissCookieBanner();
        });

        function dismissCookieBanner() {
            var isSecure = window.location.protocol.toLowerCase() == 'https:';
            $.cookie("nhs111_seen_cookie_message", 1, { path: '/', expires: 28, secure: isSecure });
            $('#global-cookies-banner').hide();
        }
    });
</script>

<!--[if lte IE 9]>
    <script>

        $('#global-cookies-banner').css({ display: "block" });
        var seenCookieMessage = $.cookie("nhs111_seen_cookie_message");

        if (seenCookieMessage) dismissCookieBanner();


        function dismissCookieBanner() {
            $('#global-cookies-banner').hide();
        }

    </script>
<![endif]-->
