<div class="callout callout--alert">
    <h2 class="heading-medium">This is a test service</h2>
    <p>
         <strong>If you need medical advice visit <a href="http://www.nhs.uk">www.nhs.uk</a> or call 111.</strong>
    </p>
</div>