
<link href="/Content/css_NhsUK/phase-banner.css" media="screen" rel="stylesheet" type="text/css"/>
<div id="phase-banner">
    <div class="phase-container">
        <p class="phase-banner--inner">
            <strong>This is a test service.  If you need medical advice visit <a href="http://www.nhs.uk">www.nhs.uk</a> or call 111.</strong>
        </p>
    </div>
</div>
