@model NHS111.Models.Models.Web.OutcomeViewModel

<label>
    Name of your GP practice <span>(optional)</span>
    <input type="text" id="FindGP">
    @Html.HiddenFor(m => m.SurgeryViewModel.SelectedSurgery)
</label>
<aside>
    <h3>Why we need this</h3>
    <p>
        So we can offer healthcare providers which may be<br />available through your own GP practice.
    </p>
</aside>

<script>
    $(function () {
        $("#FindGP").click(function () {
            $("#FindGP").val("");
            $("#SurgeryViewModel_SelectedSurgery").val("");
        }
        );
        $("#FindGP").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("SearchSurgery", "Outcome")',
                    type: "post",
                    data: { input: $("#FindGP").val() },
                    success: function (data) {
                        response(data);
                    },
                    error: function (textStatus, errorThrown) {
                        return null;
                    }
                });
            },
            focus: function (event, ui) {
                $("#FindGP").val(ui.item.Name);
                return false;
            },
            select: function (event, ui) {
                $("#FindGP").val(ui.item.Name);
                $("#SurgeryViewModel_SelectedSurgery").val(ui.item.SurgeryId);
                return false;
            }
        })
            .autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<a>" + item.Name + "</a>")
                    .appendTo(ul);
            };

    });

</script>
