@model NHS111.Models.Models.Web.OutcomeViewModel

<label>Name of your GP practice <span>(optional)</span></label>
<input type="text" id="FindGP" class="form-control">
@Html.HiddenFor(m => m.SurgeryViewModel.SelectedSurgery)

<script>
    $(function () {
        $("#FindGP").click(function () {
            $("#FindGP").val("");
            $("#SurgeryViewModel_SelectedSurgery").val("");
        }
        );
        $("#FindGP").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("SearchSurgery", "Outcome")',
                    type: "post",
                    data: { input: $("#FindGP").val() },
                    success: function (data) {
                        response(data);
                    },
                    error: function (textStatus, errorThrown) {
                        return null;
                    }
                });
            },
            focus: function (event, ui) {
                $("#FindGP").val(ui.item.Name);
                return false;
            },
            select: function (event, ui) {
                $("#FindGP").val(ui.item.Name);
                $("#SurgeryViewModel_SelectedSurgery").val(ui.item.SurgeryId);
                return false;
            }
        })
            .autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<a>" + item.Name + "</a>")
                    .appendTo(ul);
            };

    });

</script>
