<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NHS 111</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link href="../../content/styles/vendor/normalize.css" rel="stylesheet" media="all">

    <!-- For legacy support (IE 6/7, Firefox < 4, and Safari < 5) use normalize-legacy.css instead -->
    <!--<link href="../../content/styles/vendor/normalize-legacy.css" rel="stylesheet" media="all">-->
    <!--site styles-->

    <link href="../../content/styles/layout.css" rel="stylesheet" media="all">
    <link href="../../content/styles/site.css" rel="stylesheet" media="all">
    <link href="../../content/styles/responsive.css" rel="stylesheet" media="all">

    <!-- Include the HTML5 shiv print polyfill for Internet Explorer browsers 8 and below -->
    <!--[if lt IE 9]><script src="../../content/scripts/vendor/html5shiv-printshiv.js" media="all"></script><![endif]-->
    <script src="../../content/Js/vendor/html5shiv.js"></script>
    <script src="../../content/Js/vendor/jquery-2.1.3.js"></script>
    <script src="../../content/Js/vendor/jquery-ui.min.js"></script>
    <script src="../../content/Js/site.js"></script>
    <script src="~/scripts/jquery.cookie.js"></script>
    <script>
        $(function () {
            var sessionId = $.cookie("sessionId");
            if (!sessionId) $.cookie("sessionId", '@Guid.NewGuid()', { path: '/' });
        });
    </script>
    @RenderSection("Scripts", false)

</head>
<body id="orangeBG">

    <div id="HeaderWrapper">
        <header id="MainHeader">
            <a href="/"><img alt="MED" src="~/content/images/nhs-logo.png" class="siteLogo"></a>

        </header>
    </div>
    @RenderBody()
</body>
</html>
