@model NHS111.Models.Models.Web.OutcomeViewModel

@{
    var outcomeHeader = ViewData.ContainsKey("OutcomeHeader") ? ViewData["OutcomeHeader"] : (!string.IsNullOrEmpty(Model.DispositionText) ? Model.DispositionText : Model.OutcomeGroup.GetDefaultTitle());
}
<section class="local-header">
    <div class="measure">
        <h1 class="local-header__title">@Html.Raw(Model.DispositionUrgencyTitle)</h1>
        <div class="local-header__intro">
            <p>@Html.Raw(outcomeHeader)</p>
        </div>
    </div>
</section>
