@model NHS111.Models.Models.Web.OutcomeViewModel

@{
    var outcomeHeader = ViewData.ContainsKey("OutcomeHeader") ? ViewData["OutcomeHeader"] : (!string.IsNullOrEmpty(Model.DispositionText) ? Model.DispositionText : Model.OutcomeGroup.GetDefaultTitle());
}
<section>
    <div class="outcome-header">
        <h2 class="heading-large">@Html.Raw(outcomeHeader)</h2>
    </div>
</section>
