@model  NHS111.Models.Models.Web.AddressSearchViewModel
<script src="~/content/Js/vendor/spin.min.js"></script>
<link rel="stylesheet" href="~/content/styles/vendor/jquery-ui.css">

<div id="loadingPostcode" style="display: none;">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Searching for addresses matching <span id="postcodeSpan"></span>...
        </p>
    </div>
</div>

<label>
    Postcode of home address
</label>
<div class="inline-details">
    @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control form-control-8-chars", placeholder = "eg. SE1" })
    <input type="button" class="button find-address" id="findMyAddress" value="Find my address"/>
    <a class="button button-next button-link" href="#">I don't know my postcode</a>
</div>

<div id="AddressList">
    <label>Pick an address</label>
    <label class="select-label">
        <select class="select-address" id="AddressSelect">
        </select>
    </label>
</div>
@*<div class="row">
    <a class="button button-next button-link" href="#">I don't know my postcode</a>
</div>*@

<!--Spinner script-->
<script type="text/javascript">
    $(function () {
        $("#AddressList").hide();
        $("#AddressDetails").hide();
        var addresses = [];
        $("#findMyAddress").click(function () {
            $("#loadingPostcode").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var postcode = $("#PostCode").val();
            //$("#postcodeSpan").text(postcode.toUpperCase());
            var target = document.getElementById('loadingPostcode');
            var spinner = new Spinner(opts).spin(target);
            $.ajax({
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "GET",
                url: "@Model.PostcodeApiAddress.Replace("{0}", "")" + postcode,
                headers: {
                    "Ocp-Apim-Subscription-Key": "@Model.PostcodeApiSubscriptionKey"
                },
                success: function (response) {
                    addresses = response;
                    var select = $("#AddressSelect");
                    select.empty();
                    select.append($("<option />").val(0).text("Please choose..."));
                    $.each(response, function () {
                        var text = this.AddressLines[0];
                        if (this.BuildingName != "")
                            text = this.AddressLines[1];
                        select.append($("<option />").val(this.UPRN).text(text));
                    });
                    select.change(function () {
                        var selectedAddress = $("#AddressSelect option:selected").attr("value");
                        if (selectedAddress == "0")
                            return;
                        var result = $.grep(addresses, function (e) { return e.UPRN == selectedAddress; });
                        if (result.length < 1) {
                            console.error("Address selected with id " + selectedAddress + " which isn't in list of addresses.");
                            return;
                        }
                        $("#HomeAddress_HouseNumber").val(result[0].HouseNumber);
                        $("#HomeAddress_AddressLine1").val(result[0].StreetDescription);
                        $("#HomeAddress_AddressLine2").val(result[0].TownName);
                        $("#HomeAddress_City").val(result[0].PostTown);
                        $("#HomeAddress_County").val(result[0].AdministrativeArea);
                        $("#HomeAddress_PostCode").val(result[0].Postcode);
                        $("#AddressDetails").show();
                    });
                    $("#AddressList").show();
                    spinner.stop();
                    $("#loadingPostcode").fadeOut();
                },
                timeout: 3000,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.error("Status: " + textStatus); alert("Error: " + errorThrown);
                    $("#AddressList").hide();
                    $("#AddressDetails").hide();
                }
            });
        });
    });
</script>