@model  NHS111.Models.Models.Web.AddressSearchViewModel
<script src="~/content/Js/vendor/spin.min.js"></script>
<link rel="stylesheet" href="~/content/styles/vendor/jquery-ui.css">
<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Searching for emergency treatment centre...
        </p>
    </div>
</div>

<div id="PostcodeBackground">
    <div class="row small" id="PC">
        <label>
            <span class="hidden">Enter current postcode</span>
            @Html.TextBox("AddressSearchViewModel.PostCode", Model.PostCode, new { @placeholder = "Enter current postcode", @class = "postcode", @id = "AddressSearchViewModel.PostCode" })
            <input type="submit" class="button submitButton searchPostcode" name="TempDosResults" value=" search" id="btnSearch" disabled="disabled">
        </label>
    </div>


    @if (Model.SelectListItems.Any())
    {
        <div class="row" id="AddressList">
            <label>
                <span>Pick an address</span>
                @Html.DropDownListFor(x => x.SelectListItems, Model.SelectListItems, new { @class = "address" })
                @Html.HiddenFor(x => x.SelectedAddress)
            </label>
        </div>
    }
    <div class="row enterManually">
        <a href="#" class="links manualEntry">I don't know my current postcode</a>
    </div>
</div>

<div id="ThankYou">
    <input type="submit" class="button" name="DispositionNo2" value="No, Thank you." id="btnNoThankuoi">
</div>

<!--Spinner script-->
<script type="text/javascript">
    $(function () {
        $("#btnSearch").click(function () {
            $("#loading").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
        });
    });
</script>