@model NHS111.Models.Models.Web.ServiceViewModel

<div class="service-name">@WebUtility.HtmlDecode(Model.Name)</div>
<div class="service-address">
    @WebUtility.HtmlDecode(Model.Address)
</div>
<div class="service-status">
    @WebUtility.HtmlDecode(Model.CurrentStatus)
</div>

@Html.HiddenFor(m => m.Id)
