@inherits NHS111.Web.Views.Shared.SurveyLinkView<NHS111.Models.Models.Web.SurveyLinkViewModel>

@{
    var launchPage = ViewData.ContainsKey("LaunchPage") ? ViewData["LaunchPage"] : "outcome";
}

@if (SurveyLinkFeature.IsEnabled)
{
    var baseUrl = SurveyLinkFeature.BaseUrl;
    var url = string.Format(
        baseUrl,
        SurveyLinkFeature.SurveyId,
        Model.JourneyId,
        Model.PathwayNo,
        Model.EndPathwayNo,
        Model.DispositionCode,
        launchPage,
        Model.DigitalTitle.ToLower(),
        Model.EndPathwayTitle,
        Model.DispositionDateTime.Date.ToString("dddd, dd MMMM yyyy"),
        Model.DispositionDateTime.ToString("HH:mm:ss"));

    <link href="~/Content/css_NhsUK/banner.css" media="screen" rel="stylesheet" type="text/css" />
    <div class="notification-banner notification-banner--hiviz">
        <p class="notification-banner--inner">
            When you’ve finished, help us improve by taking a <a href="@url" target="_blank">short survey</a>
        </p>
    </div>

    <script>

        $(document)
            .ready(function () {
                if (!$.cookie("nhs111-survey-link-banner")) {
                    $(".survey-banner-wrap").show();
                }
            });

        $("#AgreeButton")
            .click(function () {
                $.cookie("nhs111-survey-link-banner", "survey-link-yes", { path: '/', secure: true });
                $(".survey-banner-wrap").hide();
            });

        $("#PostponeButton")
            .click(function () {
                $(".survey-banner-wrap").hide();
            });
    </script>
    }