@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@model OutcomeViewModel

@{
    var worseningAdviceClass = ViewData.ContainsKey("WorseningAdviceClass") ? ViewData["WorseningAdviceClass"] : string.Empty;
}

@if (Model.DisplayWorseningCareAdvice)
{

    foreach (var item in Model.WorseningCareAdvice.Items)
    {
        <div class="callout callout--attention measure">
            <p>@item.Text</p>
        </div>
    }
}
