@using NHS111.Models.Models.Web
@model OutcomeViewModel

@{
    var worseningAdviceClass = ViewData.ContainsKey("WorseningAdviceClass") ? ViewData["WorseningAdviceClass"] : string.Empty;
}

@if (Model.DisplayWorseningCareAdvice && Model.WorseningCareAdvice.Items.Any())
{
    <div class="callout callout--attention measure">
        <h2 class="heading-medium">Call 111 if your symptoms get worse</h2>

        @foreach (var item in Model.WorseningCareAdvice.Items)
        {
            <p>@item.Text</p>
        }
    </div>
}
