@using NHS111.Models.Models.Web
@{
    Layout = "_LayoutNhsUK.cshtml";
}

@section Title {}
@section Scripts {}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Request.Url.GetComponents(UriComponents.PathAndQuery, UriFormat.SafeUnescaped)  })
}


<h2 class="heading-large">Sorry, there has been a problem.</h2>
<p>This hasn't been caused by you, and we've been told about the problem.</p>
<p>Nothing has happened with your information and you can go back and continue using the service if you want to.</p>
