<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PathwaysSection" type="NHS111.Models.Models.Configuration.PathwaysSection, NHS111.Models" />
  </configSections>
  <appSettings>
    <!--Integration test db - contains dummy data-->
    <add key="GraphDbUrl" value="http://localhost:7475/db/data/" /> 
  </appSettings>
  <PathwaysSection useLivePathways="true">
    <livePathways>
      <add title="Live Pathway One" pathwayNo="LPW101" />
      <add title="Live Pathway Two" pathwayNo="LPW102" />
      <add title="Live Pathway Three" pathwayNo="LPW103" />
    </livePathways>
  </PathwaysSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
