<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PathwaysSection" type="NHS111.Models.Models.Configuration.PathwaysSection, NHS111.Models"/>
  </configSections>
  <appSettings>
    <!--Integration test db - contains dummy data-->
    <add key="GraphDbUrl" value="http://neo4j:2xZZjQXrRM2w@nhs111-dockerhost-beta.cloudapp.net:7475/db/data/"/> 
  </appSettings>
  <PathwaysSection useLivePathways="true">
    <livePathways>
      <add title="Live Pathway One" pathwayNo="LPW101"/>
      <add title="Live Pathway Two" pathwayNo="LPW102"/>
      <add title="Live Pathway Three" pathwayNo="LPW103"/>
    </livePathways>
  </PathwaysSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
