<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="GPSearchApiUrl" value="http://lb-data.uat.medplus.steinhauer.technology:9100/surgery/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GPSearchByIdUrl" value="http://lb-data.uat.medplus.steinhauer.technology:9100/surgery/?name={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiPathwayUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9001/pathway/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiGroupedPathwaysUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9001/pathway_suggest/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessDosCheckCapacitySummaryUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9004/DOSapi/CheckCapacitySummary" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessDosServiceDetailsByIdUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9004/DOSapi/ServiceDetailsById"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiJustToBeSafePartOneUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9001/node/{0}/jtbs_first" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiJustToBeSafePartTwoUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9001/node/{0}/jtbs/second/{2}/{3}/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PostcodeSearchByIdApiUrl" value="http://lb-data.uat.medplus.steinhauer.technology:9101/postcodesearch/{0}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiPathwayIdUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9001/pathway/{0}/{1}/{2}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiPathwaySymptomGroupUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9001/pathway/symptomGroup/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiNextNodeUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9001/node/{0}/next_node/{1}?state={2}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiQuestionByIdUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9001/node/{0}/question/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiCareAdviceUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9001/pathways/care-advice/{0}?markers={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiFirstQuestionUrl" value="http://lb-business.uat.medplus.steinhauer.technology:9001/node/{0}/questions/first?state={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IntegrationApiItkDispatcher" value="http://lb-data.uat.medplus.steinhauer.technology:9005/IntegrationItkDispatcher/ItkDispatcher" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>