<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="BusinessApiProtocolandDomain" value="http://microsoft-apiapp40f6723d48db47ed8f4d3ff1-integration.azurewebsites.net/" />
    <add key="GPSearchApiUrl" value="https://microsoft-apiapp41f7dde1192a4ca2b1a3a8c2-integration.azurewebsites.net/surgery/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GPSearchByIdUrl" value="https://microsoft-apiapp41f7dde1192a4ca2b1a3a8c2-integration.azurewebsites.net/surgery/?name={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessDosCheckCapacitySummaryUrl" value="https://microsoft-apiapp9783ffa9d6244e6590fec540-integration.azurewebsites.net/DOSapi/CheckCapacitySummary" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessDosServiceDetailsByIdUrl" value="https://microsoft-apiapp9783ffa9d6244e6590fec540-integration.azurewebsites.net/DOSapi/ServiceDetailsById"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PostcodeSearchByIdApiUrl" value="http://demo.medplus.steinhauer.technology:9101/postcodesearch/{0}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RedisConnectionString" value="beta-111digital.redis.cache.windows.net:6380,abortConnect=false,ssl=true,password=RuBvHKg2CbdX9VXLUCF+0sJv8avtFxlXG1aXQsvNQ8I=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>