<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings file="C:\Configurations\nhs111-shared-resources\shared.debug.config" xdt:Transform="SetAttributes">
    <add key="BusinessApiProtocolandDomain" value="http://localhost:9001/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GPSearchApiUrl" value="http://microsoft-apiapp41f7dde1192a4ca2b1a3a8c2-integration.azurewebsites.net/surgery/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GPSearchByIdUrl" value="http://microsoft-apiapp41f7dde1192a4ca2b1a3a8c2-integration.azurewebsites.net/surgery/?name={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiPathwayUrl" value="pathway/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiGroupedPathwaysUrl" value="pathway_suggest/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessDosCheckCapacitySummaryUrl" value="http://microsoft-apiapp9783ffa9d6244e6590fec540-integration.azurewebsites.net/DOSapi/CheckCapacitySummary" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessDosServiceDetailsByIdUrl" value="http://microsoft-apiapp9783ffa9d6244e6590fec540-integration.azurewebsites.net/DOSapi/ServiceDetailsById"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiJustToBeSafePartOneUrl" value="node/{0}/jtbs_first" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiJustToBeSafePartTwoUrl" value="node/{0}/jtbs/second/{2}/{3}/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PostcodeSearchByIdApiUrl" value="https://locationservicesstaging.azure-api.net/location/postcode/{0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PostcodeSubscriptionKey" value="madeupSubscriptionKey" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiPathwayIdUrl" value="pathway/{0}/{1}/{2}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiPathwaySymptomGroupUrl" value="pathway/symptomGroup/{0}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BusinessApiNextNodeUrl" value="node/{0}/next_node/{1}?state={2}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiQuestionByIdUrl" value="node/{0}/question/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiCareAdviceUrl" value="pathways/care-advice/{0}/{1}?markers={2}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessApiFirstQuestionUrl" value="node/{0}/questions/first?state={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IntegrationApiItkDispatcher" value="http://localhost:9001/IntegrationItkDispatcher/ItkDispatcher" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
