@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title {Privacy statement}
<div class="help privacy measure">
    <h1 class="heading-large">Privacy Policy</h1>

    <h2 class="heading-medium">Overview</h2>

    <p>
        The purpose of the privacy policy is to inform you as a user of NHS 111 Online about what information we collect when you visit the service, how we use the information, whether the information is disclosed and the ways in which we protect users' privacy.
    </p>

    <p>
        When you use the 111 Online service, information about your condition is collected so we can understand it. We collect your postcode to ensure that you are directed to the correct version of 111 Online, and so that location based services return correct results. In addition, we collect anonymous information about how you reached the website. This is so we can improve the service for future users.
    </p>

    <p>
        If you do choose to participate in the triage and be referred this is what we collect:
    </p>

    <ul>
        <li>Age and sex – so the service can provide you with the most accurate medical triage</li>
        <li>Location information – we need your postcode so we can find the most appropriate medical service for your condition.</li>
        <li>Personal information – we will ask for this only where you would like to be referred to a healthcare provider. For this we will collect your first name, last name, postcode, address and telephone number or we ask for the details of the person you are contacting us about. This information along with the advice you’ve been given will be passed to a healthcare professional.</li>
    </ul>

    <p>
        Without this information we cannot provide the service you have requested.
    </p>

    <p>
        The information is collected by NHS Digital who provide the technical side of the 111 Online service. We store copies of clinical records for audit purposes only with strict security controls. After 8 years (which is the standard retention period for this type of record) it will be securely deleted from NHS Digital’s systems. By agreeing to be referred to a healthcare professional you agree to this.
    </p>

    <p>
        The healthcare team that your information is passed to will have their own policies which cover the use of the information you have provided. This will include who they may share your information with to provide further healthcare.
    </p>

    <hr>

    <h2 class="heading-medium">Information we may collect, and how we use it</h2>

    <p>
        In all cases below, where we refer to ‘you’ the user, if you are contacting us about someone else this information may also refer to them.
    </p>

    <h3 class="heading-small">We collect the following anonymous information</h3>

    <ul>
        <li>
            Technical information. As you travel through the site we anonymously collect IP address and the website you came from, details of which version of web browser you used, information on how you use the site, using @Html.ActionLink("cookies", "Cookies", null, new { target = "_blank" }) and page tagging techniques.
            <ul>
                <li>
                    We use this information to understand behaviours on our site, so we can make changes to the content and structure of the service and make it better for users.
                </li>
            </ul>
        </li>
    </ul>

    <h3 class="heading-small">You may optionally provide us with the following identifiable information</h3>
    <ul>
        <li>
            Demographic information. In order that our service can provide you with the most accurate medical triage, we collect your sex and age. If you wish to complete a triage we require this information. The triage questions are specific to sex and age so we need this information to ensure we ask you about the right things.
        </li>

        <li>
            Personal information. If you wish to be referred to a healthcare provider, we will collect first name, last name, postcode, address and telephone number for you, or the person you are contacting us about. We will attach these details to the advice you’ve been given so that we can pass the information to a healthcare professional. You’ll be told when this information is being collected.
        </li>

        <li>
            Clinical information. We automatically collect the answers you give to the questions in our medical triage, as well as the symptom you select and the recommendation (disposition) you reach. We need to collect your answers to the questions so we can calculate the right recommendation for your health needs.
        </li>

        <li>
            Feedback data. You are able to leave feedback on most pages of the website. Feedback on pages is collected anonymously and is not monitored closely so will not be responded to. If you need someone to get back to you, please call 111.
        </li>
    </ul>

    <p>
        You may be asked to complete a survey when you’ve finished using the service. You may also be asked to provide your email address so can we send you a survey later about what happened after your use of 111 Online. With your permission only, we may link your survey responses to the information you entered in the website. This information helps us improve the service for future users.
    </p>

    <p>
        We also store all of the above information according to the NHS Digital retention policy of up to 8 years for audit purposes.
    </p>

    <hr />

    <h2 class="heading-medium">Keeping your data secure</h2>

    <ul class="spaced-list">
        <li>
            We convert your data into secure code (encrypt it) and store it on secure servers. Our infrastructure is hosted in England. A partner organisation is providing hosting as a commodity service and has no say in how the information is used. There are no legitimate means by which their employees can access the data, and technical controls have been put in place to ensure this.
        </li>
        <li>
            If you opt to be referred to a healthcare service, we combine your personal details to the answers you have given to create a clinical record. This is securely transmitted to the relevant healthcare service that you select.
        </li>
        <li>
            We store copies of clinical records for audit purposes only with strict security controls. It will only be stored in England, and can only be viewed by approved persons in the NHS 111 Online development team. By agreeing to be referred to a relevant healthcare professional you agree to this.
        </li>
    </ul>

    <h2 class="heading-medium">Links to other websites</h2>
    <ul>
        <li>
            This privacy policy only applies to this website, and doesn’t cover other websites that we link to.
        </li>

        <li>
            If you go to another website from this one, read the privacy policy on that website to find out what it does with your information.
        </li>
    </ul>

    <hr />

    <h2 class="heading-medium">Data sharing</h2>

    <h3 class="heading-small">Provision of care</h3>

    <ul>
        <li>
            If either you, or the person you are contacting us about, has the option of being referred into a healthcare service; we will pass your or their answers to the questions, along with the personal details entered, to the healthcare service you have selected.
        </li>
        <li>
            That service may then further share your data with other healthcare providers according to their own policies and in accordance with the Data Protection Act.
        </li>
        <li>
            By opting to refer to another healthcare provider you are consenting to the onward transmission of your data for the purposes of direct care.
        </li>
        <li>
            If you are contacting us on behalf of someone else you should ensure you have that person’s consent to share his or her data in this way.
        </li>
    </ul>

    <h3 class="heading-small">Other uses of your data</h3>

    <p>
        NHS Digital will also:
    </p>

    <ul>
        <li>
            share information on system usage with the Department of Health, NHS England, CCGs, and the National Clinical Governance Group.
        </li>

        <li>
            share information for service improvement with 111 Online suppliers, Department of Health, NHS England, CCGs, and the National Clinical Governance Group.
        </li>

        <li>
            share the learning from national user experience research and behavioural insight, highlighting the functional and operational implementations for Clinical Commissioning Groups.
        </li>
    </ul>

    <h3 class="heading-small">Legal powers</h3>

    <ul>
        <li>
            We may pass on your personal information if we have a legal obligation to do so.
        </li>
        <li>
            In the event of a claim against us from you as a user, we and other third parties such as solicitors acting on our behalf, may need to look at this information.
        </li>
    </ul>

    <p>
        Other than the circumstances outlined above we will not share personal information with other third parties without your consent.
    </p>

    <hr />

    <h3 class="heading-small">Your rights</h3>

    <ul>
        <li>
            NHS Digital is the Data Controller for NHS 111 Online under the Data Protection Act 1998.
        </li>

        <li>
            We will process your data in accordance with the Data Protection Act.
        </li>

        <li>
            You can find out what information we hold about you, and ask us to correct it if it is wrong or delete any of the information we collect about you. Please email us at exeter.helpdesk@nhs.net.
        </li>

        <li>
            If you wish to lodge a complaint with a supervisory authority about how we have managed your data then the relevant body to contact is the Information Commissioner’s Office, Wycliffe House Water Lane, Wilmslow SK9 5AF www.ico.gov.uk
        </li>
    </ul>

</div>