@{
  Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title {Privacy statement}
<div class="help privacy measure">

    <h1 class="heading-large">Privacy policy</h1>

    <p>
        This privacy policy tells you what information we collect when you use
        the NHS 111 online service. It also tells you:
    </p>

    <ul>
        <li>how we use your information</li>
        <li>who we share your information with</li>
        <li>how we keep your data secure</li>
        <li>about your rights to see or change information held about you</li>
    </ul>

    <h2 class="heading-medium">Information that can identify you</h2>

    <p>We’ll always tell you when we are collecting this information.</p>
    <p>When you use the service we collect:</p>

    <ul>
        <li>your postcode - to get you help in the right location</li>
        <li>your age and sex - so we ask the right medical questions</li>
    </ul>

    <p>
        When you answer questions about your symptoms (called ‘triage’) we collect
        the answers. We also collect the symptom you tell us about and the outcome
        (called ‘disposition’) you reach. This is so we can recommend the right
        outcome for your health needs.
    </p>
    <p>
        If you would like to be referred to a healthcare provider after the triage
        we will ask for your:
    </p>

    <ul>
        <li>first name</li>
        <li>last name</li>
        <li>address and postcode</li>
        <li>telephone number</li>
    </ul>

    <p>
        If you’re using the service on behalf of someone else we’ll ask for their
        details. We need this personal information as we can’t give you the
        healthcare service you have asked for without it.
    </p>
    <p>
        We will store this personal information and then pass it and the advice
        you’ve been given to a healthcare professional. By agreeing to be referred
        to a healthcare professional you consent to the sharing of your personal
        information in a way which respects the Common Law Duty of Confidentiality.
    </p>
    <p>
        We might ask you to complete a survey when you’ve finished using the
        service. This will include some information about how you used 111 online
        and what outcome you got. With your permission only, we may link your
        survey responses to the information you entered in the website. This
        information helps us improve the service for future users.
    </p>
    <p>
        We might also ask for your email so we can send you a survey later to ask
        you about what happened after you used 111 online.
    </p>

    <h2 class="heading-medium">Other information we may collect</h2>

    <p>
        You can leave feedback on most pages of the website. Feedback on pages is
        collected anonymously. We don’t look at it all the time and are unable to
        give you a response. If you need someone to get back to you please call 111.
    </p>
    <p>
        We also collect anonymous information about how you reached the website,
        for example details of your web browser and part of your IP address. We use
        page tagging and collect cookies. This is so we can improve the service for
        future users.
    </p>

    <h2 class="heading-medium">Keeping your personal data secure</h2>

    <p>
        We convert your data into secure code (encrypt it) and store it on secure
        servers in England. A partner organisation is providing hosting services
        but has no say in how the information is used. There are no legal ways for
        their employees to see the data, only approved people in the NHS 111 online
        development team can see it.
    </p>
    <p>
        If you choose to be referred to a healthcare service, we add your personal
        details to the answers you have given to create a clinical record. We send
        this securely to the healthcare service that you select. By agreeing to be
        referred to a healthcare professional you agree to this.
    </p>
    <p>
        NHS Digital keeps referral information that can identify you for 8 years for clinical audit purposes only. It’s then securely destroyed.
    </p>
    <p>
        8 years is the amount of time information is kept for clinical audit purposes in the NHS.
    </p>
    <p>
        If you shared your email with us as part of your survey answers it will be deleted after 2 years. At that point you can't be identified in the survey data.
    </p>

    <h3 class="heading-small">Links to other websites</h3>

    <p>
        This privacy policy only applies to this website and doesn’t cover other
        websites that we link to. If you go to another website from this one, read
        the privacy policy on that website to find out what it does with your
        information.
    </p>

    <h2 class="heading-medium">Data sharing</h2>

    <h3 class="heading-small">Providing care</h3>

    <p>
        We will pass your answers and personal details to the healthcare service
        you have selected if you (or the person you are contacting us about),
        choose to be referred.
    </p>
    <p>
        That healthcare service may then go on to share your data with other
        healthcare providers. They will follow their own policies and the Data
        Protection Act 1998 if so.
    </p>
    <p>
        By agreeing to be referred to another healthcare provider you are also
        agreeing that your data can be forwarded to them so they can can provide
        care. If you’re contacting us on behalf of someone else you should make
        sure that person has agreed their data can be shared in this way.
    </p>

    <h3 class="heading-small">Other uses of your data</h3>

    <p>NHS Digital will also share:</p>

    <ul>
        <li>
            anonymous information on how the service is used with the Department of
            Health and Social Care, NHS England, clinical commissioning groups (CCGs),
            and the National Clinical Governance Group
        </li>
        <li>
            anonymous information to improve the service with 111 online suppliers,
            the Department of Health and Social Care, NHS England, CCGs, and the
            National Clinical Governance Group
        </li>
        <li>
            results from user research and changes made to the service as a result of
            it with CCGs
        </li>
    </ul>

    <h3 class="heading-small">Legal powers</h3>

    <p>
        We may pass on your personal information if we’re legally obliged to do so.
    </p>
    <p>
        If you make a claim against us, we, and other third parties such as our
        solicitors, may need to look at this information.
    </p>
    <p>
        We won’t share your personal information with anyone else without your
        permission for any other reason.
    </p>

    <h2 class="heading-medium">Legal information about using and storing data</h2>

    <p>
        The Department of Health and Social Care has instructed NHS Digital to
        provide this service through a legally-binding document called a Direction.
        This means that NHS Digital is processing your personal data to meet our
        legal obligation to provide this service.
    </p>
    <p>
        Articles 6 and 9 of the General Data Protection Regulation give 111 online
        a lawful basis to process personal and health data.
    </p>

    <h2 class="heading-medium">Your rights</h2>

    <p>You can:</p>

    <ul>
        <li>
            find out what information we hold about you, ask us to correct it if it’s
            wrong, or delete it by emailing
            <a href="mailto:exeter.helpdesk@nhs.net">exeter.helpdesk@nhs.net</a>
            (for our Data Protection Officer contact
            <a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a>)
        </li>
        <li>
            withdraw the permission you gave to link your survey responses and the
            information you entered in the 111 website if you also provided your
            email. You can do this at any time, by emailing
            <a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a>
        </li>
        <li>
            register a type 2 opt-out with your GP practice if you don’t want your
            personal confidential information to be shared outside NHS Digital other
            than for your direct care
        </li>
        <li>
            contact the Information Commissioner’s Office, Wycliffe House Water Lane,
            Wilmslow SK9 5AF <a href="//www.ico.gov.uk">www.ico.gov.uk</a> if you
            want to make a complaint about how we have managed your data
        </li>
    </ul>

    <p>
        NHS Digital, 1 Trevelyan Square, Boar Lane, Leeds, LS1 6AE is the Data
        Controller for NHS 111 online under the Data Protection Act 1998. We will
        process your data in line with the Data Protection Act 1998.
    </p>

</div>
