
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title {Terms and conditions}

<div class="help terms measure">
    <h1 class="heading-large">Terms and Conditions</h1>

    <ul class="spaced-list">
        <li>
            This website is operated by NHS Digital. These terms of use govern your use of this website (https://111.service.nhs.uk). We may amend these terms of use from time to time, and the revised version will be effective when displayed here.
        </li>
        <li>
            You may access and use this website ('NHS 111’ https://111.service.nhs.uk) if you agree to be legally bound by the terms set out here. If you do not agree to be legally bound by these terms please do not access and/or use 111.service.nhs.uk. In the event of breach of these terms and conditions, your rights of use shall cease immediately.
        </li>
    </ul>

    <hr />

    <h2 class="heading-medium">Licence</h2>

    <ul>
        <li>
            The images, trademarks, trade names, logos included in the website are either owned by NHS Digital, or licensed for use on this website by the Department of Health or third parties. We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by intellectual property right laws and treaties around the world. All such rights are reserved. You may print off one copy, and may download extracts, of any page(s) from our site for your personal use. You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text. Our status (and that of any identified contributors) as the authors of content on our site must always be acknowledged. You must not use any part of the content on our site for commercial purposes without obtaining a licence to do so from us.
        </li>
    </ul>

    <hr />

    <h2 class="heading-medium">Usage Terms</h2>

    <ul>
        <li>
            NHS 111 is intended for use only by people who live in England. References to ‘the NHS’ mean ‘the NHS in England’ unless otherwise stated. Service descriptions, entitlements and costs refer to services in England and arrangements may differ elsewhere in the UK.
        </li>
        <li>
            We cannot guarantee uninterrupted access to the website, or the sites to which it links. We accept no responsibility for any damage arising from the unavailability of this website or the information it contains.
        </li>
        <li>
            This website contains links to other sites. We are not responsible for the content of any third party website and a link to another site in no way constitutes NHS Digital’s endorsement of the contents therein.
        </li>
        <li>
            You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part. We reserve the right to withdraw linking permission without notice.
        </li>
        <li>
            If you submit personal information to us through this website, it will be used in accordance with our privacy policy.
        </li>
        <li>
            We do not guarantee that this website will be secure or free from bugs or viruses. You are responsible for configuring your information technology, computer programmes and platform to access our site. You should use your own virus protection software.
            You must not misuse this website by knowingly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which this website is stored, or any server, computer or database connected to this website. You must not attack this website via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use this website will cease immediately.
        </li>
    </ul>

    <hr />

    <h2 class="heading-medium">General</h2>

    <ul>
        <li>
            We aim to ensure that the information published on this website is accurate and consistent with current knowledge and practice in the NHS. However, medical knowledge and practice is constantly evolving and this site may not reflect the latest knowledge or practice.
        </li>
        <li>
            This website is written on the basis of general likely scenarios. Individual cases may require specific advice that cannot be addressed through this website. Accordingly, this website is provided for information only. It is not intended to replace a consultation with an appropriately qualified health professional. You should not ignore any professional medical advice on the basis of this website. We cannot guarantee that information provided by us through this website will meet your health or medical requirements.
        </li>
        <li>
            If you are concerned about your health, please contact a health professional such as your GP or call NHS 111 by dialing 111 from any landline or mobile phone free of charge.
        </li>
        <li>
            You acknowledge and agree that NHS Digital will not be responsible for any injury, loss or damage (whether direct or indirect) arising out of, or relating to the misuse of, or inappropriate reliance on the contents or advice contained within the NHS 111 Online website, except to the extent that such liability cannot be excluded by law.
        </li>
        <li>
            We only provide this website for domestic and private use. You agree not to use this website for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.
            Nothing in these terms of use shall exclude our liability to you for fraudulent misrepresentation by us or our employees or for death or personal injury resulting from our negligence or that of our employees.
        </li>
        <li>
            These terms of use shall be governed by and interpreted in accordance with the laws of England, and we both agree to the exclusive jurisdiction of the courts of England in respect of any disputes which may arise in relation to our website.
        </li>
    </ul>

    <hr />

    <h2 class="heading-medium">Contact details</h2>

    <ul>
        <li>
            If you need to get in touch you can contact us at the following email address <a href="mailto:enquiries@nhsdigital.nhs.uk?subject=111 online enquiry">enquiries@nhsdigital.nhs.uk</a>
        </li>
    </ul>
</div>

