@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Service Booking Failure
}

<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css" />
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />


@section OuterSection {
    <div class="info-panel">
        <h2>Unfortunately your callback request failed.</h2>
        <div class="info-panel-innertext">
            We were unable to contact <strong>@WebUtility.HtmlDecode(Model.SelectedService.Name)</strong> <br />
            <strong>Call 111 to book an appointment</strong>
        </div>
    </div>
}

<section>
    <div class="section-item last">
        @if (Model.DisplayWorseningCareAdvice)
        {
            <h3 class="care-advice-section-header">
                What if I feel worse?
            </h3>

            <div class="service-booking-message alert">
                @foreach (var item in Model.WorseningCareAdvice.Items)
                {
                    <p>@item.Text</p>
                }
            </div>
        }
        @Html.Partial("_CareAdvice", Model.CareAdvices)
    </div>
</section>