@using NHS111.Models.Models.Web
@model OutcomeViewModel

@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Service details
}

@section OuterSection {

}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Model.Id })
}

<link href="~/content/css_NhsUk/servicedetails.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />

<section>
    @if (Model.DosCheckCapacitySummaryResult.Success != null)
    {
        @Html.Partial("_SurgeryDetails", Model.DosCheckCapacitySummaryResult.Success.Services.ToArray())
    }
</section>