@import "../environment/settings/colours";

.skiplinks {
  background-color: $blue-10;
  line-height: 0;
  @if $is-print {
    display: none;
  }
}

.skiplinks__inner {
  @include site-width-container;
}

a.skiplinks__link {
  color: transparent;
  padding: ($baseline-grid-unit * 2);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    color: $blue;
    line-height: 50px;
    -moz-user-select: initial;
    -webkit-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
  }
}
