<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PathwaysSection" type="NHS111.Models.Models.Configuration.PathwaysSection, NHS111.Models" />
  </configSections>
  <PathwaysSection useLivePathways="true">
    <livePathways>
      <add title="Headache" pathwayNo="1" />
      <add title="Mental Health Problems" pathwayNo="2" />
    </livePathways>
  </PathwaysSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>