<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PathwaysSection" type="NHS111.Models.Models.Configuration.PathwaysSection, NHS111.Models" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <PathwaysSection useLivePathways="true">
    <livePathways>
      <add title="Headache" pathwayNo="1" />
      <add title="Mental Health Problems" pathwayNo="2" />
    </livePathways>
  </PathwaysSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="AzureTableStorageAppender" type="NHS111.Utils.Logging.AzureTableStorageAppender, NHS111.Utils">
      <param name="TableStorageAccountName" value="Log4Net.AccountName" />
      <param name="TableStorageAccountKey" value="Log4Net.AccountKey" />
      <param name="TableStorageName" value="Log4Net.StorageName" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="AzureTableStorageAppender" />
    </root>
  </log4net>
</configuration>