{% extends 'nhsuk-base.njk' %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ '/content/css/nhs-111.css' | path }}" media="screen" type="text/css">
{% endblock %}

{% block body_main_content %}
  {% render '@local-header', { title: 'Your answers suggest that you need a 111 clinician to call you'} %}
  <div class="page-section">
    <ul>
      <li>Search for a clinician in your area below.</li>
      <li>If you have not heard back within 2 hours, please call 111 and tell them you have used NHS 111 online.</li>
    </ul>

    <form>
      <h3>Find a service that can help you</h3>
      <label for="postcode" class="form-label">Postcode</label>
      <input id="postcode" class="form-textbox">
      {% render '@button', { label: "Find a healthcare service", mods: ['next'], href: '' } %}
    </form>

    {% render '@callout', { mod: 'attention', content: 'If there are any new symptoms, or if the condition gets worse, changes or you have any other concerns, call NHS 111 for advice. Calls to 111 are free.' } %}

    <h2 class="heading-medium">What you can do in the meantime</h2>
    <div>
        <h3>Medication, pain and/or fever</h3>
        <ul>
          <li>Paracetamol or ibuprofen can be used to relieve pain or a fever. Don't take if you've been told not to, or you've already taken some. Read the instructions on the packet, or talk to a pharmacist.</li>
        </ul>
        <h3>Headache</h3>
        <ul>
          <li>A heated pad or covered hot water bottle on the back of your neck may help ease the pain.</li>
          <li>Call 999 if:
            <ul>
              <li>The person becomes very drowsy, isn't responding normally or is having a fit.</li>
              <li>The person becomes severely ill with new marks under the skin which look like bruising or bleeding.</li>
            </ul>
          </li>
        </ul>
    </div>

  </div>
{% endblock %}
