{% extends 'nhsuk-base.njk' %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ '/content/css/nhs-111.css' | path }}" media="screen" type="text/css">
{% endblock %}

{% block body_main_content %}
  {% render '@local-header', { title: 'Your answers suggest you should dial 999 now for an ambulance'} %}
  <div class="page-section">
    {% render '@button', { label: 'Change my previous answer', type: input, mods: ['previous', 'link'] } %}
  </div>
{% endblock %}
