{% extends 'nhsuk-base.njk' %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ '/content/css/nhs-111.css' | path }}" media="screen" type="text/css">
{% endblock %}

{% block body_main_content %}
  <div class="page-section">
    <h1>Getting care with 111 Online</h1>
    <p>Use this service when:</p>
    <ul>
        <li>you need medical help, but it's not a 999 emergency</li>
        <li>you don't know who to contact, or your normal service isn't available</li>
    </ul>

    <h2>How does 111 work?</h2>
    <ol class="list--numbered">
      <li>
          Answer a series of questions about your symptoms
      </li>
      <li>
          You'll get advice on who you need to see, and how urgently
      </li>
      <li>
          We'll connect you to the right healthcare for your medical needs
      </li>
    </ol>

    <p>The service doesn't diagnose specific conditions.</p>
    {% render '@callout', { mod: 'attention', content: "111 Online is being trialled in Leeds for patients aged 5 and over. This service is not a substitute for a medical consultation. See terms." } %}

    {% render '@button', { label: "Start now", mods: ['next'], href: 'initial-question' } %}
    <p>If you're looking for NHS opening times or contact information, use <a href="http://www.nhs.uk">NHS Choices</a>.</p>
  </div>
{% endblock %}
