{% extends 'nhsuk-base.njk' %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ '/content/css/nhs-111.css' | path }}" media="screen" type="text/css">
{% endblock %}

{% block body_main_content %}
  <div class="page-section">
    <h1>Do any of these apply?</h1>
    {% render '@callout', { mod: 'info', content: "Before we ask about the symptoms, we need to check it's not an emergency. If any of these apply, call 999 now" } %}

    {% render '@reveal', { summary: 'Central crushing chest pain', content: 'A feeling of crushing pressure like a heavy weight pushing down on your chest.'} %}
    {% render '@reveal', { summary: 'You think it is a stroke', content: 'Signs of a stroke include being unable to raise both arms and keep them there, difficulty speaking or a lopsided face.'} %}
    {% render '@reveal', { summary: 'Severe difficulty breathing, choking or turning blue', content: 'This means you are unable to finish a sentence without stopping several times to take a breath. You may be gasping, wheezing or putting a lot of effort into breathing.'} %}
    {% render '@reveal', { summary: 'Bleeding very heavily', content: 'This means heavy bleeding that is continuing despite attempts to stop it.'} %}
    {% render '@reveal', { summary: 'A severe injury', content: 'This includes deep wounds, or injuries caused by falls, assault or road traffic accidents and will require an immediate medical assessment.'} %}
    {% render '@reveal', { summary: 'The person you are enquiring about is unconscious or having a seizure (fit) injury', content: 'Unconscious - Not awake and totally unaware of what is going on around you. As if you are asleep, but with no response if someone tries to wake you.<br><br>Seizure - Uncontrolled electrical activity in the brain, which can lead to loss of consciousness and/or loss of bladder and bowel control. Seizures are often known as fits.'} %}

    <p>If none of these apply, click next to continue</p>
    {% render '@button', { label: "Next", mods: ['next'], href: 'patient-details' } %}

  </div>
{% endblock %}
