{% extends 'nhsuk-base.njk' %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ '/content/css/nhs-111.css' | path }}" media="screen" type="text/css">
{% endblock %}

{% block body_main_content %}
  <div class="page-section">
    <h1>Tell us about you, or the person you're asking about</h1>
    <form>
      <fieldset>
        <legend class="form-label">Sex</legend>
        {% render '@multiple-choice', { label: 'Male', value: 'male', type: 'radio', mods: ['radio'], id: 'input2-1', name: 'group2'} %}
        {% render '@multiple-choice', { label: 'Female', value: 'female', type: 'radio', mods: ['radio'], id: 'input2-2', name: 'group2'} %}
      </fieldset>

      <fieldset>
        <label class="form-label">Age in years</label>
        <input type="text" class="form-textbox">
      </fieldset>

      <hr>

      {% render '@button', { label: 'Next', mods: ['next'], href: 'search-symptom' } %}
    </form>

  </div>
{% endblock %}
