{% extends 'nhsuk-base.njk' %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ '/content/css/nhs-111.css' | path }}" media="screen" type="text/css">
{% endblock %}

{% block body_main_content %}
  <div class="page-section">
    <form>
      <h2>Have you hurt or banged your head in the last 7 days?</h2>
      <fieldset>
        {% render '@multiple-choice', { label: 'Yes', value: '', type: 'radio', mods: ['radio'], id: 'input1-1', name: 'group1'} %}
        {% render '@multiple-choice', { label: "I'm not sure", value: '', type: 'radio', mods: ['radio'], id: 'input1-2', name: 'group1'} %}
        {% render '@multiple-choice', { label: 'No', value: '', type: 'radio', mods: ['radio'], id: 'input1-3', name: 'group1'} %}
      </fieldset>
      {% render '@button', { label: 'Next question', mods: ['next'] } %}
      <div>{% render '@button', { label: 'Previous question', mods: ['previous', 'link'] } %}</div>
    </form>

  </div>
{% endblock %}
