{% extends 'nhsuk-base.njk' %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ '/content/css/nhs-111.css' | path }}" media="screen" type="text/css">
{% endblock %}

{% block body_main_content %}
  <div class="page-section">
    <form>
      <h2><label for="search-tags">Search by symptom</label></h2>
      <input type="text" id="search-tags" class="form-textbox">
      {% render '@button', { label: 'Search', mods: ['next'] } %}
      <hr>
      <h3>9 topics found matching 'headache'</h3>
      <ul class="link-list link-list--results">
        <li>
            <a class="linkButton" data-title="Headache" data-pathway-number="PW755" href="/PW755/Male/24/start?age=24&amp;digitalTitle=Headache and migraine&amp;entrySearchTerm=headache&amp;filterServices=True"><em class="highlight-term">Headache</em> and <em class="highlight-term">migraine</em></a>
            <p>Pain or discomfort in the <em class="highlight-term">head</em> such as throbbing or intense pain, or a tight band around the <em class="highlight-term">head</em>. Also includes visual disturbances with a <em class="highlight-term">headache</em>.</p>
        </li>
        <li>
            <a class="linkButton" data-title="Cold or Flu (Declared)" data-pathway-number="PW1042" href="/PW1042/Male/24/start?age=24&amp;digitalTitle=Cold or flu&amp;entrySearchTerm=headache&amp;filterServices=True">Cold or flu</a>
            <p>Symptoms like a blocked or runny nose, sneezing, aching muscles, <em class="highlight-term">headaches</em>, pain in the face and coughing.</p>
        </li>
        <li>
            <a class="linkButton" data-title="Dizziness or Vertigo" data-pathway-number="PW639" href="/PW639/Male/24/start?age=24&amp;digitalTitle=Dizziness&amp;entrySearchTerm=headache&amp;filterServices=True">Dizziness</a>
            <p>Feeling dizzy, off balance, lightheaded or as if the room is spinning.</p>
        </li>
        <li>
            <a class="linkButton" data-title="Head, Facial or Neck Injury, Penetrating" data-pathway-number="PW692" href="/PW692/Male/24/start?age=24&amp;digitalTitle=Head injury with broken skin&amp;entrySearchTerm=headache&amp;filterServices=True"><em class="highlight-term">Head</em> injury with broken skin</a>
                <p class="additional-topics">Also covers: Face injury with broken skin, Neck injury with broken skin</p>
            <p>An injury to the <em class="highlight-term">head</em>, face, scalp or neck within the last 7 days that has broken the skin. (The face includes the forehead, nose, cheeks, chin and ears but not the eye or eye socket). An injury only to the mouth or tongue, not including the teeth, within the last 7 days that has caused bleeding. A deliberate self-inflicted injury. A whiplash (hyperextension) injury to the neck in the last 7 days.</p>
        </li>
        <li>
            <a class="linkButton" data-title="Head, Facial or Neck Injury, Blunt" data-pathway-number="PW684" href="/PW684/Male/24/start?age=24&amp;digitalTitle=Head injury - skin not broken&amp;entrySearchTerm=headache&amp;filterServices=True"><em class="highlight-term">Head</em> injury - skin not broken</a>
                <p class="additional-topics">Also covers: Face injury - skin not broken, Neck injury - skin not broken</p>
            <p>An injury to the <em class="highlight-term">head</em>, face or neck within the last 7 days, that didn't cause a cut or wound to the skin.</p>
        </li>
        <li>
            <a class="linkButton" data-title="Skin Problems" data-pathway-number="PW1771" href="/PW1771/Male/24/start?age=24&amp;digitalTitle=Rashes, itchy skin, spots and blisters&amp;entrySearchTerm=headache&amp;filterServices=True">Rashes, itchy skin, spots and blisters</a>
                <p class="additional-topics">Also covers: Moles and other skin problems, <em class="highlight-term">Head</em> lice, Pubic lice</p>
            <p>Also includes lumps on the skin, bruising or yellow skin, athlete's foot, scabies, and problems with birthmarks and tattoos.</p>
        </li>
        <li>
            <a class="linkButton" data-title="Dental Injury" data-pathway-number="PW620" href="/PW620/Male/24/start?age=24&amp;digitalTitle=Dental injury&amp;entrySearchTerm=headache&amp;filterServices=True">Dental injury</a>
            <p>An injury to the teeth, gums or the inside of the mouth. If you’ve hurt your <em class="highlight-term">head</em>, face or neck as well, search for those injuries first.</p>
        </li>
        <li>
            <a class="linkButton" data-title="Toothache After Dental Injury" data-pathway-number="PW572" href="/PW572/Male/24/start?age=24&amp;digitalTitle=Toothache after an injury&amp;entrySearchTerm=headache&amp;filterServices=True">Toothache after an injury</a>
            <p>Pain or discomfort in the teeth or gums after a dental injury. Also includes cracked or broken teeth, teeth that have been knocked out, and problems opening and closing the mouth. If you’ve hurt your <em class="highlight-term">head</em>, face or neck as well, search for those injuries first.</p>
        </li>
        <li>
            <a class="linkButton" data-title="Earache" data-pathway-number="PW655" href="/PW655/Male/24/start?age=24&amp;digitalTitle=Ear pain&amp;entrySearchTerm=headache&amp;filterServices=True">Ear <em class="highlight-term">pain</em></a>
                <p class="additional-topics">Also covers: <em class="highlight-term">Earache</em>, New deafness with <em class="highlight-term">pain</em></p>
            <p>Pain or discomfort in the ear with or without swelling, redness or fluid leaking from the ear. Also covers a painful blocked ear, pain with new deafness or ringing in the ear.</p>
        </li>
      </ul>
      <h3 id="category-option">
          If you can't find what you're looking for, try <a href='search-categories'>searching by category</a> instead.
      </h3>
    </form>

  </div>
{% endblock %}
