{% extends 'nhsuk-base.njk' %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ '/content/css/nhs-111.css' | path }}" media="screen" type="text/css">
{% endblock %}

{% block body_main_content %}
  <div class="page-section">
    <form>
      <h2><label for="search-tags">Search by symptom</label></h2>
      <input type="text" id="search-tags" class="form-textbox">
      {% render '@button', { label: 'Search', mods: ['next'] } %}
      <hr>
      <h2>Find a topic</h2>
      <h3>Body</h3>
      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Head and neck (49)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Shoulder, arm and hand (16)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Chest and back (16)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Abdomen, groin and side of the body (11)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Bowel and urinary problems (11)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Genitals (4)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Leg and foot (9)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>

      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Skin and hair (8)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>




      <h3>General</h3>
      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Dental (4)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Allergies (16)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Bleeding, pain and swelling (30)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Diarrhoea and vomiting (3)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Injuries, wounds and burns (53)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Mental health (21)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>


      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Pregnancy and breastfeeding (11)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>

      <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__arrow"></span><span class="details__summary">Seasonal health (8)</span>
        </summary>

        <div class="details__content" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            {% render '@reveal', { summary: 'Ear (6)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Eye (5)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Face (4)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
            {% render '@reveal', { summary: 'Head (8)', content: '<ul><li><a data-title="Blocked ear" href="#">Blocked ear</a></li><li><a data-title="Ear discharge" href="#">Ear discharge</a></li></ul>'} %}
          </div>
        </div>
      </details>
    </form>

  </div>
{% endblock %}
