{% extends 'nhsuk-base.njk' %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{{ '/content/css/nhs-111.css' | path }}" media="screen" type="text/css">
{% endblock %}

{% block body_main_content %}
  {% render '@local-header', { title: 'Speak to your GP urgently', content: 'Contact your GP practice within 6 hours' } %}
  <div class="page-section">
    <h2>If you can’t see your GP</h2>
    <details class="" role="group">
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="details__summary">Visit a walk in service</span>
      </summary>

      <div class="details__content cards" id="details-content-0" aria-hidden="false">
          {% render '@card' %}
          {% render '@card' %}
          {% render '@card' %}
      </div>
    </details>


    <details class="" role="group">
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="details__summary">Make an appointment on the phone</span>
      </summary>

      <div class="details__content cards" id="details-content-0" aria-hidden="false">
          {% render '@card' %}
      </div>
    </details>

    <div class="reading-width">
      <h2>Things you can do yourself</h2>
      <p>To help relieve any dentail pain</p>
      <ul>
        <li>Take paracetamol or ibuprofen to relieve pain or a fever. Some are not suitable for children, babies and pregnant women.</li>
        <li>Avoid hot or cold food and drinks.</li>
        <li>Don’t apply gels or medicine directly to the tooth or nearby gum area. This may damage gums.</li>
      </ul>

      {% render '@callout', { mod: 'attention', content: '<h3>Call 111 if your symptoms get worse.</h3><p>If there are any new symptoms, or if the condition gets worse, call NHS 111 for advice.</p>' } %}

  </div>
{% endblock %}
