<!DOCTYPE html>
<html class="no-js">
<head>
  <link rel="stylesheet" href="{{ '/content/css/nhs-111.css' | path }}"/>
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js-enabled');
  </script>
  <style>
    html {
      background-color: #fff;
      height: 100%;
      padding: 5px;
      box-sizing: border-box;
    }
    body {
      padding: .1px;
    }
  </style>
</head>
<body>
  <div class="page-section">
    <div class="multiple-choice__container">

      <fieldset>{{ yield }}</fieldset>
    </div>
  </div>
</body>
</html>
