
  <div class="page-section">
    <form>
      <fieldset>
        {% render '@multiple-choice', { label: 'Yes', value: 'yes', type: 'radio', mods: ['radio'], id: 'input1-1', name: 'group1'} %}
        {% render '@multiple-choice', { label: 'No', value: 'no', type: 'radio', mods: ['radio'], id: 'input1-2', name: 'group1'} %}
      </fieldset>
      <fieldset>
        {% render '@multiple-choice', { label: 'Yes', value: 'yes', type: 'radio', mods: ['radio', 'inline'], id: 'input2-1', name: 'group2'} %}
        {% render '@multiple-choice', { label: 'No', value: 'no', type: 'radio', mods: ['radio', 'inline'], id: 'input2-2', name: 'group2'} %}
      </fieldset>
      <fieldset>
        {% render '@multiple-choice', { label: 'Yes', value: 'yes', type: 'checkbox', mods: ['checkbox'], id: 'input3-1', name: 'group3'} %}
        {% render '@multiple-choice', { label: 'No', value: 'no', type: 'checkbox', mods: ['checkbox'], id: 'input3-2', name: 'group3'} %}
      </fieldset>
      <fieldset>
        {% render '@multiple-choice', { label: 'Yes', value: 'yes', type: 'checkbox', mods: ['checkbox', 'inline'], id: 'input4-1', name: 'group4'} %}
        {% render '@multiple-choice', { label: 'No', value: 'no', type: 'checkbox', mods: ['checkbox', 'inline'], id: 'input4-2', name: 'group4'} %}
      </fieldset>
        <input type="text" class="form-textbox">
    </form>
  </div>
