<div class="multiple-choice">
  <input id="{{id}}" name="{{name}}" value="{{value}}" type="{{type or 'radio'}}" class="multiple-choice__input">
  <label for="{{id}}" class="{% for mod in mods %} multiple-choice--{{mod}}{% endfor %}">{{label}}</label>
</div>
