<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="structuremap" version="4.0.1.318" targetFramework="net451" />
  <package id="structuremap.web" version="4.0.0.315" targetFramework="net451" />
</packages>