<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PathWayServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PathWayServiceSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="PathWayServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://nww.pathwaysdos.nhs.uk/app/api/webservices"
        binding="basicHttpBinding" bindingConfiguration="PathWayServiceSoap"
        contract="DOSService.PathWayServiceSoap" name="PathWayServiceSoap" />-->
      <endpoint address="https://uat.pathwaysdos.nhs.uk/app/api/webservices" binding="customBinding" bindingConfiguration="PathWayServiceSoap12" contract="DOSService.PathWayServiceSoap" name="PathWayServiceSoap12" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>