<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings file="..\..\..\nhs111-shared-resources\shared.debug.config">
    <add key="DomainDOSApiBaseUrl" value="http://localhost:9002/" />
    <add key="DomainDOSApiCheckCapacitySummaryUrl" value="DOSapi/CheckCapacitySummary" />
    <add key="DomainDOSApiServiceDetailsByIdUrl" value="DOSapi/ServiceDetailsById" />
    <add key="DomainDOSApiMonitorHealthUrl" value="monitor/health" />
    <add key="DomainDOSApiServicesByClinicalTermUrl" value="DOSapi/ServicesByClinicalTerm" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>