<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings file="C:\Configurations\nhs111-shared-resources\shared.debug.config">
    <add key="DomainDOSApiBaseUrl" value="http://localhost:9002/" />
    <add key="DomainDOSApiCheckCapacitySummaryUrl" value="DOSapi/CheckCapacitySummary" />
    <add key="DomainDOSApiServiceDetailsByIdUrl" value="DOSapi/ServiceDetailsById" />
    <add key="DomainDOSApiMonitorHealthUrl" value="monitor/health" />
    <add key="DomainDOSApiServicesByClinicalTermUrl" value="DOSapi/ServicesByClinicalTerm" />
    <add key="CCGApiBaseUrl" value="https://localhost:85/"/>
    <add key="CCGApiGetCCGByPostcodeUrl" value="api/ccg/details/{0}" />
    <add key="dos_credential_user" value="madeupUser" />
    <add key="dos_credential_password" value="madeupPassword" />
    <add key="WorkingDayGenericInHoursStartTime" value="08:00" />
    <add key="WorkingDayGenericInHoursEndTime" value="18:00" />
    <add key="WorkingDayGenericInHoursShoulderEndTime" value="09:00" />
    <add key="WorkingDayPrimaryCareInHoursStartTime" value="08:00" />
    <add key="WorkingDayPrimaryCareInHoursEndTime" value="18:00" />
    <add key="WorkingDayPrimaryCareInHoursShoulderEndTime" value="09:00" />
    <add key="WorkingDayDentalInHoursStartTime" value="07:30" />
    <add key="WorkingDayDentalInHoursEndTime" value="22:00" />
    <add key="WorkingDayDentalInHoursShoulderEndTime" value="07:30" />

    <add key="FilteredGenericDispositionCodes" value="1118|1002|1003|1089|1092|1028|1030|1050|1031" />
    <add key="FilteredPrimaryCareDispositionCodes" value="1005|1008|1013|1014|1012|1007|1015|1011|1006|1064" />
    <add key="FilteredDentalDispositionCodes" value="1017|1018|1019|1020|1021|1022" />
    <add key="FilteredClinicianCallbackDispositionCodes" value="11329|11106|1034|11327|11325|1035|1032" />
    
    <add key="FilteredGenericDosServiceIds" value="25" />
    <add key="FilteredPrimaryCareDosServiceIds" value="100|123|117|40|25" />
    <add key="FilteredDentalDosServiceIds" value="100|123|117|40|25" />
    <add key="FilteredClinicianCallbackServiceIds" value="40" />

    <add key="FilterServicesFeatureIsEnabled" value="true" />
  
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.1" debug="true" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
</configuration>