@using System.Reflection
@using NHS111.Models.Models.Web
@{ Layout = "~/Views/Shared/_LayoutNhsUk.cshtml"; }
@inherits NHS111.Web.Views.Shared.DirectLinkingView<JourneyViewModel>

<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/content/css_NhsUk/question.css")" media="screen" rel="stylesheet" type="text/css" />

@section Title { NHS 111 Online - Is it an emergency? }

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageId = Request.Url.GetComponents(UriComponents.PathAndQuery, UriFormat.SafeUnescaped) })
}

@using (Html.BeginForm("InitialQuestion", "Question", FormMethod.Post))
{
    @Html.HiddenFor(x => Model.SessionId)
    @Html.HiddenFor(x => Model.FilterServices)

    <h1 class="heading-large">Do any of these apply?</h1>

    <div class="question-rationale no-header">
        <p>Before we ask about the symptoms, we need to check it's not an emergency.<br/><br/>If any of these apply, <strong>call 999 now</strong></p>
    </div>

    <div id="answers">
        <div class="answer answer-label">
            <span class="answer-text">• Central crushing <span class="help-text-link">chest pain</span></span>
        </div>
        <div class="help-text-link-message">A feeling of crushing pressure like a heavy weight pushing down on your chest.</div>

        <div class="answer answer-label">
            <span class="answer-text">• You think it's a <span class="help-text-link">stroke</span></span>
        </div>
        <div class="help-text-link-message">Signs of a stroke include being unable to raise both arms and keep them there, difficulty speaking or a lopsided face.</div>

        <div class="answer answer-label">
            <span class="answer-text">• Severe <span class="help-text-link">difficulty breathing</span>, choking or turning blue</span>
        </div>
        <div class="help-text-link-message">This means you are unable to finish a sentence without stopping several times to take a breath. You may be gasping, wheezing or putting a lot of effort into breathing.</div>

        <div class="answer answer-label">
            <span class="answer-text">• <span class="help-text-link">Bleeding</span> very heavily</span>
        </div>
        <div class="help-text-link-message">This means heavy bleeding that is continuing despite attempts to stop it.</div>

        <div class="answer answer-label">
            <span class="answer-text">• A <span class="help-text-link">severe</span> injury</span>
        </div>
        <div class="help-text-link-message">This includes deep wounds, or injuries caused by falls, assault or road traffic accidents and will require an immediate medical assessment.</div>

        <div class="answer answer-label">
            <span class="answer-text">• The person you are enquiring about is <span class="help-text-link">unconscious</span> or having a <span class="help-text-link">seizure (fit)</span></span>
        </div>
        <div class="help-text-link-message">Unconscious - Not awake and totally unaware of what is going on around you. As if you are asleep, but with no response if someone tries to wake you.<br/><br/>Seizure - Uncontrolled electrical activity in the brain, which can lead to loss of consciousness and/or loss of bladder and bowel control. Seizures are often known as fits.</div>
    </div>
    <hr class="compact"/>
    <div class="none-label">If none of these apply, click next to continue</div>

    <button class="button button-next" id="nextScreen" type="submit" name="Question" value="Question">Next</button>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.help-text-link-message').hide();
        $('.help-text-link').click(function() {
            var $this = $(this);

            var $helpTextLinkMessage = $this.parent().parent().next('.help-text-link-message');
            $helpTextLinkMessage.slideToggle("fast");
        });
    });
</script>
