.app-panel,
.app-panel__description {
  list-style: none;
  padding: 0;
}

.app-panel__thumbnail {
  margin-right: 32px;
  margin-bottom: 20px;
}

.app-panel__thumbnail,
.app-panel__details {
  float: left;
  text-decoration: none;
}

.app-panel__details {
  margin-top: 0;
}

.app-panel__details a {
  text-decoration: none;
}

.app-panel__details img {
    margin-top: 5px;
}

.app-panel__description {  
    padding: 0 0 20px 0;
}

.app-panel__description li{
  color: #768692;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
