<div class="callout callout--info">
  <div class="app-panel clearfix">
    <img class="app-panel__thumbnail" src="/src/assets/images/app-panel/nhs_111_app_icon.png" />
    <div class="app-panel__details">
      <h2>NHS 111 London</h2>
      <ul class="app-panel__description">
        <li>Babylon Health</li>
        <li>Cost: Free</li>
        <li>Size: 149 MB</li>
      </ul>
      <a href="https://play.google.com/store/apps/details?id=com.babylon.nhs">
        <img alt="Get it on Google Play" src="/src/assets/images/app-panel/google_play_badge.png" height="48" />
      </a>
      <a href="https://itunes.apple.com/gb/app/nhs-111/id1196229018?mt=8">
        <img alt="Download on the iOS App Store" src="/src/assets/images/app-panel/app_store_badge_US-UK_135x40.svg" height="48" />
      </a>
    </div>
  </div>
</div>
