@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutOutcome.cshtml";
}
<div class="site" id="SelectSurgery">
    <div id="ProgressBar">
        <ul>
            <li class="firstChild"><span class="left">01 What's wrong </span> <img src="../../content/images/icons/breadcrumbOne.png" alt="" class="right"></li>
            <li class="secondChild"><span class="left">02 Tell us more </span><img src="../../content/images/icons/breadcrumbTwo.png" alt="" class="right"></li>
            <li class="lastChild"><span class="left">03 YOU ARE HERE . Next steps </span></li>
        </ul>
    </div>
    <div id="ContentWrapper">
        <form>
            <div id="SubHeadWrapper">
                <section>
                    <h2><span class="roundNumbers">2</span> Your matched services</h2>
                    <p>Select a service to confirm your visit</p>
                </section>
            </div>
            <div id="FormSearchGP">
                <img src="../../content/images/icons/redArrow.png" class="arrowDown" alt="">
                <section>
                    <div id="FormWrapper">
                        <div class="row">




                        </div>
                        <!--/row-->
                    </div>
                    <!--/FormWrapper-->
                    <input type="submit" class="button right" id="Next" value="Next: available services">
                </section>
            </div>
            <!--/AboutYou-->
        </form>
    </div>
    <!--/ContentWrapper-->
    <div id="FooterWrapper">
        <footer>
            <!-- Copyright information -->
        </footer>
    </div>
</div>
<!-- /site -->