@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    <script src="~/scripts/jquery2.1.1.min.js"></script>
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>

    <script src="~/scripts/custom.js"></script>

}

<body id="homePage">
    <div id="wrapper">
        <header role="banner" class="global-header">
            <div class="global-header__wrapper">
                <div class="global-header__logo">
                    <a href="/" title="Go to Homepage" class="logo"> <img src="~/content/img/med-logo.png" alt="MED"> </a>
                    <h1>When it's urgent, but not an emergency</h1>
                </div>
                <!--<div id="logStatus"> <span title="Logged in as Kevin">Welcome back <strong>Kevin</strong></span> </div>-->
            </div>
        </header>
        <div class="content-container">

            <div id="content">
                <form id="outerContent" action="/Question/Search" method="POST">
                    <div id="threeColumnBlock">
                        <div id="columnOne">
                            <img src="~/content/img/greyArrow.png" alt="" class="greyArrowRight">
                            
                                <button type="submit" class="homeLinks">
                                    <img src="~/content/img/home1.png" alt="">
                                </button>
                            
                            <p class="iconText">Tell us what's wrong</p>
                        </div>
                        <div id="columnTwo">
                            <img src="~/content/img/greyArrow.png" alt="" class="greyArrowRight">
                            <button type="submit" class="homeLinks">
                                <img src="~/content/img/home2.png" alt="">
                            </button>
                                <p class="iconText">Tell us about you</p>
</div>
                        <div id="columnThree">
                            <button type="submit" class="homeLinks">
                                <img src="~/content/img/home3.png" alt="">
                            </button>
                                <p class="iconText">Receive the right help</p>

</div>
                            <input type="submit" class="button" id="getHelpBtn" value="Get help">
                    </div><!--/threeColumnBlock-->
                </form>

            </div>
            <!--content end-->
        </div>
        <footer>
            <div class="footerWrapper">
                <div id="footerColumn">

                    <div id="footerColumnOne">

                        <img src="~/content/img/case_image.png" alt="">

                    </div>

                    <div id="footerColumnTwo">
                        <h2>Did you know?</h2>
                        <p>
                            Giving people more choice is a priority of the modern healthcare.  This is because research in the UK
                            and overseas has shown that treatments are more effective if patients choose, understand and control their
                            care.
                        </p>

                    </div>

                    <div id="footerColumnThree">
                        <p>
                            For more information about your condition or see what NHS can do for you <a href="http://www.nhs.uk/" target="_blank">visit NHS.uk</a>
                        </p>


                    </div>

                </div>
            </div>
        </footer>
    </div>
    <!--wrapper ends-->
    <div id="mobileScroller">
        <div style="display:none;" class="nav_up" id="nav_up"></div>
        <div style="display:none;" class="nav_down" id="nav_down"></div>
    </div>
</body>
