.icon-close {
  color: #fff;
  background-image: url("/content/images/icons/icon-close.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 12px;
}
