// Panels (from gov.uk)
// ==========================================================================

.panel {
  clear: both;
  border-left-style: solid;
  border-color: $nhs-blue;

  @include element-padding(full);

  :first-child {
    margin-top: 0;
  }

  :only-child,
  :last-child {
    margin-bottom: 0;
  }
}

.panel-border-wide {
  border-left-width: 10px;
}

// Used to show the left edge of "toggled" content
.panel-border-narrow {
  border-left-width: 5px;
}

// Panels within form groups
// By default, panels have 15px bottom margin
.form-group .panel-border-narrow {
  width: 100%;
}

// Note: This is incredibly fragile, and needs rebuilding.

// The first panel in a group
.form-group .panel-border-narrow:first-child {
  margin-top: 10px;
}

// The last panel in a group
.form-group .panel-border-narrow:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

// For inline panels
.inline .panel-border-narrow,
.inline .panel-border-narrow:last-child {
  margin-top: 10px;
  margin-bottom: 0;
}
