@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DOS tools</h1>
    <p class="lead"></p>
    <p><a href="/dos/search" class="btn btn-primary btn-lg">DOS comparison tool &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>