<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings file="..\..\..\nhs111-shared-resources\shared.debug.config">
    <add key="DomainApiBaseUrl" value="https://microsoft-apiapp7dfdf67a13fc4fb9819524d6-integration.azurewebsites.net/"/>
    <add key="DomainApiMonitorHealthUrl" value="monitor/health"/>
    <!-- Questions -->
    <add key="DomainApiQuestionUrl" value="questions/{questionId}"/>
    <add key="DomainApiAnswersForQuestionUrl" value="questions/{questionId}/answers"/>
    <add key="DomainApiNextQuestionUrl" value="questions/{questionId}/answersNext"/>
    <add key="DomainApiFirstQuestionUrl" value="pathways/{pathwayId}/questions/first"/>
    <add key="DomainApiJustToBeSafeQuestionsFirstUrl" value="pathways/{pathwayId}/just-to-be-safe/first"/>
    <add key="DomainApiJustToBeSafeQuestionsNextUrl" value="pathways/{pathwayId}/just-to-be-safe/next?answeredQuestionIds={answeredQuestionIds}&amp;multipleChoice={multipleChoice}&amp;selectedQuestionId={selectedQuestionId}"/>
    <!-- Pathways -->
    <add key="DomainApiPathwaysUrl" value="pathways?grouped={grouped}"/>
    <add key="DomainApiPathwayUrl" value="pathways/{pathwayId}"/>
    <add key="DomainApiIdentifiedPathwayUrl" value="pathways/identify/{pathwayNumbers}?gender={gender}&amp;age={age}"/>
    <add key="DomainApiPathwaySymptomGroup" value="pathways/symptomGroup/{pathwayNumbers}"/>
    <add key="DomainApiPathwayNumbersUrl" value="pathways_direct/{pathwayTitle}"/>
    <add key="DomainApiIdentifiedPathwayFromTitleUrl" value="pathways_direct/identify/{pathwayTitle}?gender={gender}&amp;age={age}"/>
    <!-- Care Advice -->
    <add key="DomainApiCareAdviceUrl" value="pathways/care-advice/{age}/{gender}?markers={markers}"/>
    <add key="DomainApiInterimCareAdviceUrl" value="pathways/care-advice/{dxCode}/{ageCategory}/{gender}"/>
    <!-- Outcomes -->
    <add key="DomainApiListOutcomesUrl" value="outcomes/list/"/>
    <add key="RedisUrl" value="127.0.0.1:6379"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>