<section class="feedback-section">

<!--[if lte IE 8]>
    <style>
        .feedback-container {
            color: black;
        }

    </style>
<![endif]-->



<div class="feedback-wrapper" style="display: block;">
    <div class="feedback-container feedback-container--open">
        <div class="page-section">
            <div id="feedback-details">
              <span class="icon-close"></span>
<form action="/Feedback/SubmitFeedback" data-ajax="true" data-ajax-begin="$('#feedback-details').slideToggle(600);" data-ajax-loading="#loader" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-success="$('#feedback-details').slideToggle(600);" data-ajax-update="#feedback-details" id="form0" method="post"><input id="UserId" name="UserId" type="hidden" value="678d8ba9-6abf-4495-84dd-a09ff222d861"><input id="PageId" name="PageId" type="hidden" value="/home">                    <h2 class="heading-small">
                        <label for="Text">Tell us if this page isn't clear</label>
                    </h2>
                    <p>Don’t include any personal information, such as your name, date of birth, address or NHS number.</p>
                    <div class="feedback-form">
                        <textarea value="" class="feedback-input" cols="20" id="Text" maxlength="1200" name="Text" placeholder="Feedback" rows="2" style="height: 103px;"></textarea>
                        <p id="textdetailscounter">(Limit is 1200 characters)</p>
                        <button class="button button--next" id="btnFeedback">Send feedback</button>
                    </div>
</form>            </div>
        </div>
    </div>
</div>
<script>

    var maxLength = 1200;
    $('.feedback-input').keyup(function () {
        var length = $(this).val().length;
        var length = maxLength - length;
        $('#textdetailscounter').text(length + ' characters remaining (limit is ' + 1200 + ' characters)');
    });

    $('.feedback-dismiss').click(function () {
        $('.feedback-wrapper').slideToggle();
    });

    $('.feedback-input').focus(function () {
        $(this).animate({
            //width: "70%",
            //height: "70%"
        });
    });

    $(document).ready(function () {
        $('.feedback-wrapper').show();
        $('.feedback-input').autogrow({ vertical: true, horizontal: false });
    });

</script>

</section>
