<div class="page-section">

  <div id="postcode-form">
    <h2>If you enter your postcode now, we can find services that can help you</h2>

    <label for="UserInfo_CurrentAddress_Postcode">
      Enter your postcode for services that can help you <span class="de-emphasised">(optional)</span>
    </label>
    <input type="text" id="UserInfo_CurrentAddress_Postcode" />
    <button class="button button--next" type="submit" name="DosResults" id="DosLookup">Next</button>
    <button class="js-find-location button--link button--stacked"  type="button">Find my location</button>
  </div>
  <div id="confirm-location-form">
    <p>Knowing where you are helps us find the right care.</p>
    <div class="location-address"></div>
    <button class="button--next" type="submit" name="DosResults" id="DosLookup">Next</button>
    <button class="js-manual-postcode button--link button--stacked" type="button">No, I'll enter my postcode.</button>
  </div>
</div>
